namespace Video_rental_online_store.Views.User
{
@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <label>Card Number:</label>
    <input type="text" name="cardNumber" />
    <button type="submit">Login</button>
}

}
